swagger: "2.0"
info:
  description: "Cloud Endpoints DNS"
  title: "Cloud Endpoints DNS"
  version: "1.0.0"
paths: {}
host: "${APP_NAME}.endpoints.${PROJECT_ID}.cloud.goog"
x-google-endpoints:
- name: "${APP_NAME}.endpoints.${PROJECT_ID}.cloud.goog"
  target: "${IP_ADDRESS}"
